<h3>Add a New Product</h3>
<form [formGroup]="productAddForm" (ngSubmit)="add()" class="form-group">
  <div class="form-group">
    <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Name"/>
    <div class="alert alert-danger"
         *ngIf="productAddForm.get('name').hasError('required') && productAddForm.get('name').dirty">
      Product Name is required
    </div>
  </div>

  <div class="form-group">
    <input type="text" id="description" name="description" formControlName="description" class="form-control"
           placeholder="Description"/>
    <div class="alert alert-danger"
         *ngIf="productAddForm.get('description').hasError('required') && productAddForm.get('description').dirty">
      Product Description is required
    </div>
  </div>

  <div class="form-group">
    <input type="text" id="imageUrl" name="imageUrl" formControlName="imageUrl" class="form-control"
           placeholder="Image Url"/>
    <div class="alert alert-danger"
         *ngIf="productAddForm.get('imageUrl').hasError('required') && productAddForm.get('imageUrl').dirty">
      Product Image Url is required
    </div>
  </div>

  <div class="form-group">
    <input type="text" id="price" name="price" formControlName="price" class="form-control" placeholder="Price"/>
    <div class="alert alert-danger"
         *ngIf="productAddForm.get('price').hasError('required') && productAddForm.get('price').dirty">
      Product Price is required
    </div>
  </div>

  <div class="form-group">
    <select name="categoryId" id="categoryId" formControlName="categoryId" class="form-control">
      <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
    </select>
    <div class="alert alert-danger"
         *ngIf="productAddForm.get('categoryId').hasError('required') && productAddForm.get('categoryId').touched">
      Category is required
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="productAddForm.invalid">Add Product</button>

</form>
